@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
  background-color: rgb(7, 65, 122);
  font-family: 'Ubuntu', sans-serif;
  color: #FFF;
  background-image: url("/assets/img/background-2.png");
  background-size: 100% auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.right-answer {
  background-color: rgb(0, 59, 0);
  background-image: url("/assets/img/right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
}

.wrong-answer {
  background-color: rgb(80, 0, 0);
  background-image: url("/assets/img/wrong.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
}

header {
  text-align: center;
}

/* https://codepen.io/natalia-reshetnikova/pen/oRRjPP */
.btn-ripple-out {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.btn-ripple-out::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.btn-ripple-out:active::before {
  opacity: 0;
  transform: scale(1.2, 1.2);
}

.btn-ripple-out::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(0.5, 0.5);
}

.btn-ripple-out:active::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* .btn {
  text-align: center;
  cursor: pointer;
} */

.char-btn {
  width: 200px;
  height: 50px;
  display: block;
}

.btn:hover {
  color: #FFF;
}

.quote {
  font-size: xx-large;
  font-style: italic;
  margin-bottom: 40px;
}


#start-btn {
  margin-top: 50px;
  width: 200px;
  font-size: xx-large;
  background-color: rgb(100 167 255);
  ;
}

.start-title {
  font-size: 25px;
}

.player {
  text-align: center;
}

/* .row {
  padding-top: 20px;
} */

.form-field {
  background: rgb(100 167 255);
  padding: 12px;
  margin-bottom: 12px;
  text-align: -webkit-center;
}

.form-select {
  background-color: rgb(95 97 160);
  color: #fff;
  width: auto;
}

.form-control {
  width: auto;
}

#progression-bar {
  width: 25%;
}


.progression-area {
  width: 50%;
  padding: 0;
}