body {
    background-color: lightslategray;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

.right-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}

header {
    text-align: center;
}